/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: lighten(green, 10%);
$background-color: lighten(yellow, 45%);
$font-family: dynamic(arial);
